<div class="header">
    <div class="header__title">
        <a  href="/">
            <h1 id="header__id">ML Monitor</h1>

        </a>

    </div>
    <a class="header__link" href="/">Running</a>
    <a class="header__link" href="/experiments">Experiments</a>
</div>