@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
@import 'config.scss';

.header {
  background-color: transparent !important;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  overflow:auto;

  .header__title {
    float: left;

    a {
      font-weight: 400;
      font-size: 34px;
      line-height: 40px;
      text-decoration-color: black !important;
      font-family: 'Poiret One', sans-serif;
      text-decoration: none;



      h1 {
        color: black;
        margin: 0px !important;
      }
    }
  }

  .header__link {
    float: right;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;

  }
  :hover {
    color: $element-main-color !important;
  }
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}


body {
  background-color: $bg-color !important;
  font-family:'Roboto', "Open Sans Condensed", Helvetica, Arial, Verdana, "Trebuchet MS" !important;
}

.content {
  padding-bottom:70px;
}

#wrapper {
  min-height:100%;
  position:relative;
}

//set form comps to 256px width, similar to material ui react do it.
.mui-select, .mui-form-group {
  display: inline-block !important;
  width: 256px !important;
}
footer {
  padding:10px;

  width:100%;
  height:50px;
  position:absolute;
  bottom:0;
  left:0;
  color: #E0E6EC;

  p {
    font-weight: normal;
    color: grey;
    margin-top: 5px;
    text-align: center;
  }
}


.experiments {
  margin-top: 20px;
  background-color: white;
  .controls {

  }
  .experiments__bar {
    color: white;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: $michel-grey;
    ul {
      list-style-type: none;
      display: table;
      width: 100%;
      li {
        display: table-cell;
      }
    }
  }
  .experiments__content {
    padding: 10px;

  }
}

.message-panel {
  height: 200px;
  padding-top: 100px;
  p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
  }
}
.event-list {
  width: 100%;
}
.label {
  font-weight: bold;
  font-size: 0.85em;
  border-radius: 5px;

  color: white;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;


}

.label-info {
  background-color: green;
}

.label-danger {
  background-color: red;
}

.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.page-header {
  text-align: center;
}

#sidebar {
  //padding: 15px;

  ul {
    width:100%;
    list-style-type: none;
    padding-left: 0px !important;
    li {
      padding: 3px;
      text-align: center;
      a {
        cursor: pointer;
      }
    }

    .active {
      background-color: #c9cfd4;
      font-weight:bold;
    }
  }

}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 230px;
    height: 100%;
    padding-top: 30px;
    z-index: 0;
    margin-top: 120px;
  }
}

@media (min-width: 768px) {
  #content {
    margin-left: 230px;
    padding-left: 40px;
    padding-right:40px;
  }
}

.experiment-table {
  width: 100%;

  tr {
    th, td {
      padding: 5px;
      border-bottom: 1px ridge  #ccc;
    }
    th {
      background-color: white;
      color: grey;
    }
  }
}

.x_label {
  visibility: hidden;
}

#sign-in {
  float: right;
  font-size: 20px;
  color: black;


  .mui-form-group {
    padding-top: 5px;
    margin-bottom: 0px;
    margin-left: 20px;
    width: 150px !important;
  }
}