<% layout('../base') -%>
<% block('title', "Page not found - ")%>

<div class="mui-panel" style="padding:0px">
    <div class="jumbo mui-text-center">
        <div class="mui-container">
            <div className="mui-row">
                <div className="mui-col-md12" style="padding-bottom: 50px">
                    <h1 class="jumbo__title" style="font-size: 10em">404</h1>
                </div>
                <div className="mui-col-md12" style="margin-top: 20px">
                    <p class="jumbo__text">It seems like the page you are requesting does not exist</p>
                </div>
            </div>
        </div>
    </div>
</div>

