<% layout('../base') -%>
<% block('title', toolTitle + " - ") %>
<% block('metaDescription', toolMetaDescription)%>
<div>
    <div id="app"><%- reactContent %></div>
</div>

<!--
<div class="ads mui-panel" >
    <% include ../partials/ads.ejs %>
</div>
-->

<script async src="<%= reactEntryPath %>/js/<%= reactScript %>.entry.js"></script>
