<% layout('../base') -%>
<% block('title', title + " - ") %>
<div>
    <div id="app"><%- reactContent %></div>
</div>

<script async src="<%= reactEntryPath %>/js/<%= reactScript %>.entry.js"></script>
<script id="init"><%- data %></script>